@model TechlistShop.Domain.Entities.Add

@{
    ViewBag.Title = ViewBag.title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<hr />
<h2>@ViewBag.title</h2>
<hr />
@using (Html.BeginForm("Edit", "Add", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.AddId)

    <div class="form-group">
        @Html.LabelFor(model => model.Name) @Html.ValidationMessageFor(model => model.Name)<br />
        @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.LinkUrl) @Html.ValidationMessageFor(model => model.LinkUrl)<br />
        @Html.TextBoxFor(model => model.LinkUrl, new {@class = "form-control"})
    </div>

    <div>
        @Html.LabelFor(model => model.Active) @Html.ValidationMessageFor(model => model.Active)<br />
        @Html.CheckBoxFor(model => model.Active, new {@style = "min-width: 20px; width:initial; height:20px;" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Order) @Html.ValidationMessageFor(model => model.Order)<br />
        @Html.TextBoxFor(model => model.Order, new {@class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Description) @Html.ValidationMessageFor(model => model.Description)<br />
        @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
    </div>

    <div class="form-group">
        <span>عکس آگهی</span>
            @if (Model.ImageData == null)
            {
                <span style="font-size:0.6em; color:red;">عکسی برای این آگهی وجود ندارد</span>
            }
            else
            {
                <div>
                    <img width="250" src="@Url.Action("GetImage","Add", new{Model.AddId})" />
                </div>   
            }
            <hr />
            <div style="font-size:0.6em;">آپلود عکس: <br /><br /> <input type="file" name="image" /></div>
    </div>
    
    <p style="text-align:left; width:40%; min-width:500px;">
        <button type="submit" class="btn btn-primary"><i class="fa fa-database"></i> ذخیره در پایگاه داده</button>
    </p>
}

<div style="text-align:center; width:40%; min-width:500px;">
    @Html.ActionLink("بازگشت به لیست", "Index", "Add",null, new { @class = "btn btn-danger btn-block" })
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
